@{
    ViewData["Title"] = "Home";
}

@model string

<div id="app" class="text-center">

    <header>
        <h1 class="display-4">Photos</h1>
        <p v-if="searchedWord == ''">By Francesco Limpias</p>
        <p v-else>You searched for '{{searchedWord}}'</p>
    </header>

    <main>
        <div class="px-3">

            <div v-if="photos == null" class="text-center">
                Loading photos...
            </div>

            <div v-else-if="photos.length == 0">
                <partial name="_SeedDatabase" />
            </div>

            <div v-else>
                <table class="table">
                    <caption>Your photos!</caption>
                    <thead>
                        <tr>
                            <th class="text-danger">title</th>
                            <th>album</th>
                            <th>description</th>
                            <th>special tags</th>
                            <th>image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="photo of photos">
                            <td class="align-middle">
                                {{photo.title}}
                            </td>
                            <td class="align-middle h5">
                                {{photo?.album?.title}}
                            </td>
                            <td class="align-middle">
                                {{photo?.description}}
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-wrap gap-1">
                                    <template v-for="category of photo.categories">
                                        <i v-if="category.prioritary" :class="['fa-solid fa-' + category.symbol]" :style="['color:' + category.color]"></i>
                                    </template>
                                </div>
                            </td>
                            <td class="align-middle w-25">
                                <img :src="photo.location" class="w-100" />
                            </td>
                            @*<th class="align-middle">
                            <a class="btn btn-outline-secondary mb-1" href="@Url.Action("Details", "Photo", new {id = photo.PhotoId})">
                            <i class="fa-solid fa-eye"></i>
                            </a>
                            </th>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                photos: null,
                searchedWord: "@Model",
            }
        },
        methods: {
            fetchPhotos() {
                let searchedWord = this.searchedWord;
                axios
                    .get("https://localhost:7208/api/Api/index", {
                        params: { searchedWord }
                    })
                    .then(response => {
                        this.photos = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                        this.photos = null;
                    });
            },
        },
        mounted() {
            this.fetchPhotos();
        }
    }).mount('#app')
</script>