@{
    ViewData["Title"] = "Home";
}

@model string

<div id="app" class="text-center">

    <header>
        <h1 class="display-4">Photos</h1>
        <p v-if="searchedWord == ''">By Francesco Limpias</p>
        <p v-else>You searched for '{{searchedWord}}'</p>
    </header>

    <main>
        <div class="px-3">

            <div v-if="photos == null" class="text-center">
                Loading photos...
            </div>

            <div v-else-if="photos.length == 0">
                <partial name="_SeedDatabase" />
            </div>

            <div v-else>
                <table class="table">
                    <caption>Your photos!</caption>
                    <thead>
                        <tr>
                            <th class="text-danger">title</th>
                            <th>album</th>
                            <th>description</th>
                            <th>special tags</th>
                            <th>image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="photo of photos">
                            <td class="align-middle">
                                {{photo.title}}
                            </td>
                            <td class="align-middle h5">
                                {{photo?.album?.title}}
                            </td>
                            <td class="align-middle">
                                {{photo?.description}}
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-wrap gap-1">
                                    <template v-for="category of photo.categories">
                                        <i v-if="category.prioritary" :class="['fa-solid fa-' + category.symbol]" :style="['color:' + category.color]"></i>
                                    </template>
                                </div>
                            </td>
                            <td class="align-middle w-25">
                                <img :src="photo.location" class="w-100" />
                            </td>
                            @*<th class="align-middle">
                            <a class="btn btn-outline-secondary mb-1" href="@Url.Action("Details", "Photo", new {id = photo.PhotoId})">
                            <i class="fa-solid fa-eye"></i>
                            </a>
                            </th>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div v-if="isChatOpened" class="chat-popup card" id="myForm">
        <div class="card-body">
            <h5 class="card-title">Chat</h5>
            <h6 class="card-subtitle mb-2 text-muted">Write to the photographers!</h6>

            <form class="card-text" :onsubmit="sendMessage">
                <div class="form-group mb-2">
                    <input type="email" class="form-control" placeholder="Your email" name="messageEmail" required v-model="messageEmail"></input>
                </div>

                <div class="form-group mb-2">
                    <textarea class="form-control" placeholder="Type message.." name="messageContent" required v-model="messageContent"></textarea>
                </div>

                <div v-if="messageSendingStatus" class="alert alert-success py-2" role="alert">
                    Message Sent!
                </div>

                <div v-if="messageSendingStatus == false" class="alert alert-danger py-2" role="alert">
                    Fields are not valid!
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-outline-dark" @@click="closeChat">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>

        </div>
    </div>

    <button v-else class="open-button btn btn-info" @@click="openChat">
        <i class="fa-regular fa-message"></i>
    </button>

</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                APIURL: "https://localhost:7208/api/Guest/",

                photos: null,
                searchedWord: "@Model",

                isChatOpened: false,
                messageSendingStatus: null,
                messageEmail: "",
                messageContent: "",
            }
        },
        methods: {
            fetchPhotos() {
                let searchedWord = this.searchedWord;
                axios
                    .get(this.APIURL + "GetPhotos", {
                        params: { searchedWord }
                    })
                    .then(response => {
                        this.photos = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                        this.photos = null;
                    });
            },
            openChat() {
                this.isChatOpened = true;
            },
            closeChat() {
                this.isChatOpened = false;
            },
            sendMessage() {
                axios
                    .post(this.APIURL + "PostMessage", {
                        Email: this.messageEmail,
                        Content: this.messageContent,
                    })
                    .then(response => {
                        this.messageContent = "";
                        this.messageSendingStatus = true;
                    }).catch(error => {
                        console.error("Message not sent!");
                        this.messageSendingStatus = false;
                    }).finally(() => {
                        setTimeout(() => {
                            this.messageSendingStatus = null;
                        }, 2500);
                    });
                return false;
            }
        },
        mounted() {
            this.fetchPhotos();
        }
    }).mount('#app')
</script>