@model PhotoPayload
@{
    ViewData["Title"] = "Insert";
}

<div class="text-center px-3">

    <!-- Header -->
    <h1>@ViewData["Title"]</h1>
    <h4>Photo</h4>
    <hr />

    <!-- Partial Form -->
    <partial name="_Form" model='("Create", Model)' />

</div>

