@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Go to DEVELOPER AREA</h4>
    <p>
        Apparently your database has not been seeded yet:
        go to the <a class="link-danger" href="/developer">developer area</a> to manage and eventually seed your database.
    </p>
    <p class="mb-0">
        <ol class="list-group list-group-numbered list-group-item-danger">
            <li class="list-group-item">
                Seed Categories
            </li>
            <li class="list-group-item">
                Seed Ingredients
            </li>
            <li class="list-group-item">
                Seed Photos
            </li>
        </ol>
    </p>
</div>