@model PizzaPayload
@{
    ViewData["Title"] = "Inserisci";
}

<div class="text-center px-3">

    <!-- Header -->
    <h1>@ViewData["Title"]</h1>
    <h4>Pizza</h4>
    <hr />

    <!-- Partial Form -->
    <partial name="_Form" model='("Create", Model)' />

</div>

